/* body.scss ===*/

.body-content {
	.row {
		min-height: 300px;
		padding-top: 1em;
		padding-bottom: 1.5em;
		color: #222;
		background: #eee;
		border-bottom: 5px solid #ccc;
	}
}

#menu {
	background: #fff;
	img {
		max-height: 100px;
	}
	.tab-pane {
		padding-top: 1em;
	}
}
#about {}
#coupons {}
#location {}
#contact {
	padding-bottom: 2em;
	background: #ddd;
}