/* body.scss ===*/

.body-content {
	.row {
		padding-top: 1em;
		padding-bottom: 1.5em;
		color: #222;
		background: #eee;
		border-bottom: 5px solid #ccc;
	}
}

#about,
#contact,
#coupons,
#location,
#menu {
	min-height: 590px;
}

#menu {
	padding-top: 3em;
	background-image: url('images/stock/texture-vertical-wood.jpg');
	background-position: top left;
	#scoreboard-menu{	
		background: #fff;
		background-image: url('images/stock/texture-ricepaper.png');
		border: 1px solid #ddd;
		@include border-radius(11px);
		img {
			max-height: 100px;
		}
		ul#tabs {
			margin: 0 auto;
		}
		.tab-pane {
			padding-top: 1em;
		}
		.dl-horizontal {
			width: 75%;
			margin: 1em auto;
			padding-bottom: 2em;
			display: block;
			overflow: hidden;
			font-size: 12px;
			dt {
				width: 75%;
				text-align: left;
				border-bottom: 1px dotted #ddd;
			}
			dl {
				padding-left: 5px;
				text-align: left;
				font-style: italic;
			}
		}
	}	
}
#about {
	background-image: url('images/stock/texture-farmer.png');
	background-position: top left;
	background-repeat: repeat-x;
}
#coupons {}
#location {}
#contact {
	padding-bottom: 2em;
	background: #ddd;
}