/* body.scss ===*/

.body-content {
	.row {
		padding-top: 1em;
		padding-bottom: 1.5em;
		color: #222;
		background: #eee;
		border-bottom: 5px solid #ccc;
	}
}

#about,
#contact,
#coupons,
#location,
#menu {
	min-height: 590px;
}

#menu {
	background: #fff;
	#scoreboard-menu{	
		border: 1px solid #ddd;
		img {
			max-height: 100px;
		}
		ul#tabs {
			margin: 0 auto;
		}
		.tab-pane {
			padding-top: 1em;
		}
	}	
}
#about {}
#coupons {}
#location {}
#contact {
	padding-bottom: 2em;
	background: #ddd;
}