/* header.scss ===*/
.primary-header {
	margin-top: 50px;
	padding: 0;
	background-image: url('images/stock/tablecloth-c.jpg');
	padding-bottom: 4em;
	background-position: bottom;
	margin-bottom: 20px;
	box-shadow: 1px 0px 28px 2px #222;
}