/* overboots.scss === */

/* navigation */
.navbar {
	margin-bottom: 0;
	min-height: 75px;
	background: #fff;
	border: none;
}
.navbar-nav a:hover,
.navbar-nav>.active>a {
	background-color: #fff !important;
	border-bottom: 2px solid red;
}

.jumbotron {
	margin-bottom: 0;
}

/* carousel */
.carousel {
	margin-bottom: 2em;
	img {
		width: 100%;
		max-height: 300px;
		overflow: hidden;
	}
}

.carousel-caption {
	left: 2%;
	bottom: 15px;
	text-align: left;
	@include border-radius(11px);
	@include opacity(0.9);
}
.carousel-caption h3,
.carousel-caption p {
	display: none;
	padding-left: 15px;
	@include opacity(0.95);
}