/* overboots.scss === */

/* navigation */
.navbar {
	margin-bottom: 0;
	min-height: 75px;
	background: #fff;
	font-family: $rokkit;
	font-size: 22px;
	border: none;
	@include box-shadow(1px, 5px, 18px, 0, #efefef);
}

a.navbar-brand img {
//	margin-left: 5px;
//	margin-top: -5px;
	border: 3px solid #fff;
	@include border-radius(14px);
	@include box-shadow(0, 3px, 16px, 1px, #efefef);
}
.navbar-nav a:hover,
.navbar-nav>.active>a {
	background-color: #fff !important;
	border-bottom: 2px solid red;
}

.jumbotron {
	margin-bottom: 0;
}

/* carousel */
.carousel {
	margin-bottom: 2em;
	img {
		width: 100%;
		max-height: 590px;
		overflow: hidden;
	}
}
.carousel-indicators {
	display: none;
}
.carousel-caption {
	bottom: 12%;
	width: 40%;
	height: 66%;
	margin: 0 auto;
	display: none;
	padding-top: 15px;
	background: #fefefe;
	text-shadow: none;
	@include border-radius(50%);
	@include opacity(0.6);
	@include box-shadow(0, 0, 23px, 5px, #fefefe);
	h2 {margin-top:15px;}
	
	h2,
	h3,
	p {
		color: #ccc;
		@include opacity(1);
	}
}


.nav-tabs {
	border-bottom: none;
	li > a {
		background: inherit;
		border-left: none;
		border-top: none;
		border-right: none;
	}
	li > a:hover,
	li > a:active,
	li.active > a,
	li.active > a:hover,
	li.active > a:focus {
		background: inherit;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 2px solid red;
	}
}